.coldest {
  color: #9b59b6;
}
.cold {
  color: #5faee3;
}
.brisk {
  color: #3498db;
}
.cool {
  color: #1abc9c;
}
.moderate {
  color: #f1c40f;
}
.warm {
  color: #f39c12;
}
.hot {
  color: #d35400;
}
.hottest {
  color: #c0392b;
}
.default {
  color: black;
}
