@import "_temperature-color";

$bg: #ffffff;
$dark_blue: #34495e;
$light_blue: #3498db;
$input_bg: #eeeeee;
$gray: #555;

$radius: 5px;

* {
  //font-family: 'Open Sans', Helvetica, sans-serif;
}

body {
  background-color: $bg;
  color: black;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.container {
  padding-top: 1rem;
}

.top {
  min-height: 494px;
}

.current-weather {
  color: #95a5a6;
  margin: 15rem 0 20rem 0;
  font-size: 3.5rem;
  padding: 0 5rem;

  p {
    margin: -2rem 0 0 0;
  }
}

.forecast, .title {
  color: #95a5a6;
}

.current-temp {
  font-size: 15rem;
  text-align: center;
}

.current-condition {
  margin-top: -3rem;
  padding-left: 2rem;
  text-align: center;
}

.forecast {
  min-height: 216px;
}

.summary {
  padding-left: 2rem;
  font-size: 1.9rem;
  text-align: center;
}

img.climacon {
  width: 64px;
}

.special-climacon {
  padding-left: 2rem;
  font-size: 1.5rem;
  text-align: center;
  .column:first-of-type {
    margin-right: -30rem;
  }
}

.wind-speed, .precip-percent {
  margin-top: -3rem;
}

.forecast-day {
  font-size: 2.4rem;
  padding-bottom: 1rem;
}

.high-temp {
  margin: 0.4rem;
  font-size: 2.4rem;
}
.low-temp {
  margin: 0.4rem;
  font-size: 1.7rem;
}

.forecast-text {
  text-align: center;
  p {
    font-size: 3rem;
    padding: 3rem 10rem 0;
  }
  &.ng-hide {
    opacity: 0;
  }
  &.ng-hide-remove {
    display: block !important;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all linear 1s;
  }
  &.ng-hide-add {
    display: block !important;
  }
}
.day {
  text-align: center;
  &.ng-hide {
    opacity: 0;
  }
  &.ng-hide-remove {
    display: block !important;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all linear 0.5s;
  }
  &.ng-hide-add {
    display: block !important;
  }
}

